.post-card {
    margin-top: 35px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.infobox {
    display: flex;
}
.namebox {
    display: flex;
    align-items: center;
    gap: 10px;
}
.buttonbox {
    display: flex;
    gap: 14px;
}
.avatar {
    height: 32px;
    width: 32px;
    border: 50%;
    object-fit: fill;
}
.hr {
    text-decoration: none;
    width: 4px;
    height: 30px;
    font-weight: 500;
    font-size: 20px;
    background-color: var(--gray800)
}